:root {
	--border-color: rgba(255, 255, 255);
}

html,
body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'DM Sans', sans-serif;
}

@property --gradient-color-1 {
	syntax: '<color>';
	initial-value: #ff9a9e;
	inherits: true;
}

@property --gradient-color-2 {
	syntax: '<color>';
	initial-value: #fad0c4;
	inherits: true;
}

/* Animations */

@keyframes vibrate {
  0% { transform: translate(0); }
  10% { transform: translate(-2px, 1px); }
  20% { transform: translate(1px, -1px); }
  30% { transform: translate(-1px, -2px); }
  40% { transform: translate(2px, 1px); }
  50% { transform: translate(-1px, 2px); }
  60% { transform: translate(1px, -1px); }
  70% { transform: translate(-2px, 1px); }
  80% { transform: translate(1px, 2px); }
  90% { transform: translate(-1px, -1px); }
  100% { transform: translate(0); }
}