:root {
	--border-color: rgba(255, 255, 255, 0.5);
	--border-width: 1.5rem;
	--mobile-padding: 1rem;
	--page-height: calc(100vh - (var(--border-width) * 2));

	@media (max-width: 768px) {
		--border-width: 0.75rem;
	}
}

html,
body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'DM Sans', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
}

@property --gradient-color-1 {
	syntax: '<color>';
	initial-value: #ff9a9e;
	inherits: true;
}

@property --gradient-color-2 {
	syntax: '<color>';
	initial-value: #fad0c4;
	inherits: true;
}

/* Animations */

@keyframes vibrate {
	0% {
		transform: translate(0);
	}
	10% {
		transform: translate(-2px, 1px);
	}
	20% {
		transform: translate(1px, -1px);
	}
	30% {
		transform: translate(-1px, -2px);
	}
	40% {
		transform: translate(2px, 1px);
	}
	50% {
		transform: translate(-1px, 2px);
	}
	60% {
		transform: translate(1px, -1px);
	}
	70% {
		transform: translate(-2px, 1px);
	}
	80% {
		transform: translate(1px, 2px);
	}
	90% {
		transform: translate(-1px, -1px);
	}
	100% {
		transform: translate(0);
	}
}

@keyframes blur-in {
	0% {
		filter: blur(50px);
		opacity: 0;
		transform: scale(1.1) translateX(100px);
	}

	50% {
		transform: translateX(-50px);
	}

	100% {
		filter: blur(0);
		opacity: 1;
		transform: scale(1) translateX(0);
	}
}
